WebApplication1/WebApplication1/Service References/MockGeneratorServices/mockgen1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SB.MarketPromotions.MockGenerator" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SB.MarketPromotions.MockGenerator" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="psc">
    <xs:sequence>
      <xs:element minOccurs="0" name="PopularSubcat" nillable="true" type="tns:ArrayOfsc" />
      <xs:element minOccurs="0" name="TotalMarketCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="psc" nillable="true" type="tns:psc" />
  <xs:complexType name="ArrayOfsc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sc" nillable="true" type="tns:sc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsc" nillable="true" type="tns:ArrayOfsc" />
  <xs:complexType name="sc">
    <xs:sequence>
      <xs:element minOccurs="0" name="BetCount" type="xs:int" />
      <xs:element minOccurs="0" name="MarketCount" type="xs:int" />
      <xs:element minOccurs="0" name="SegmentId" type="xs:int" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
      <xs:element minOccurs="0" name="SubCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="SubCategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sc" nillable="true" type="tns:sc" />
</xs:schema>